/* 

Default properties for the entire app.

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&display=swap");

:root {
  --bg: #f4f1e0;
  --text: #321e1e;
  --titles: #f4f1e0;
  --border: #b0ad9c;
  --hover: #ff6429;

  --fs-xl: clamp(3rem, 12vw + 1rem, 8rem);
  --fs-md: clamp(2.5rem, 60%, 3.75rem);
  --fs-sm: clamp(0.8125rem, 7dvw - 1rem, 1rem);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #321e1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESETEO DE PROPIEDADES */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

body {
  color: var(--text);
  background-color: #f4f1e0;
}

/* Header */

.header {
  background: rgb(30, 50, 31);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box .turntable-treasures {
  color: #f4f1e0;
  font-family: "Bebas Neue", Helvetica;
  font-size: var(--fs-xl);
  font-weight: 400;
  left: 304px;
  letter-spacing: -3.84px;
  line-height: normal;
  text-align: right;
  top: 324px;
  text-align: center;
}

/* NavBar */

.nav-a {
  color: var(--text);
  font-family: Bebas Neue;
  font-size: var(--fs-md);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  position: relative;
}

.nav-a:hover::before {
  transform: scaleX(1);
}

.nav-a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #321e1e;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.navbar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 5rem;
  color: var(--titles);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background: var(--text);
  transition: background-color 0.5s ease;
  box-shadow: 4px 4px 4.3px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.navbar.sticky {
  background: var(--bg);
  z-index: 100000000;
  box-shadow: 4px 4px 4.3px 0px rgba(0, 0, 0, 0.25);
}

.container-fluid {
  padding-left: 70px;
  padding-right: 70px;
}

.mobile-nav-toggle {
  position: fixed;
  z-index: 9999;
  background: none;
  border: 0;
  width: 2.5rem;
  aspect-ratio: 1;
  top: 1.5rem;
  left: 2rem;
}

.mobile-nav-toggle-cart {
  color: var(--titles);
  position: fixed;
  z-index: 9999;
  font-family: Bebas Neue;
  font-size: var(--fs-sm);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: color 0.5s ease;
  display: block;
  position: fixed;
  border: 0;
  width: 2.5rem;
  aspect-ratio: 1;
  top: 1.5rem;
  right: 2rem;
  background: none;
}

.nav-a {
  color: var(--text);
  font-family: Bebas Neue;
  font-size: var(--fs-md);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  position: relative;
}

.nav-a:hover::before {
  transform: scaleX(1);
}

.nav-a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #321e1e;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.primary-navigation {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1000;
  inset: 0 0 0 0;
  flex-direction: column;
  padding: min(50vh, 30rem) 12em;
  margin: 0;
  background: #f4f1e098;
  backdrop-filter: blur(1rem);
  gap: 2rem;
  transform: translateX(-100%);
  transition: transform 250ms ease-out;
  list-style-type: none;
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}

#nav-home {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: justify;
  display: flex;
  justify-content: center;
}

.menu-button {
  color: var(--titles);
  font-family: Bebas Neue;
  font-size: var(--fs-sm);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: color 0.5s ease;
  background: none;
}

.menu-button:hover {
  color: var(--hover);
  transition: color 0.2s ease;
  cursor: pointer;
}

.navbar.sticky .menu-button:hover {
  color: var(--hover);
}

.navbar.sticky .menu-button {
  color: var(--text);
}

/* Hero Section */

.hero {
  display: flex;
  height: 40%;
  margin: auto;
  padding: 100px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  max-width: 2000px;
}

.explore-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.explore-products > h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: --fs-md;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
}

.explore-products > p {
  font-family: Arimo, sans-serif;
  font-size: var(--fs-sm);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02rem;
  width: 40vw;
}

.carousel-redirect {
  width: 25vw;
}

.carousel-redirect > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

/* Cards */

.card-container {
  display: flex;
}

.first-sm-card {
  display: flex;
  background-color: #f4f1e0;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  padding: 2rem 1.5rem;
}

.first-sm-card > h2 {
  color: #321e1e;
  font-family: "Bebas Neue", sans-serif;
  font-size: var(--fs-md);
  font-style: normal;
  letter-spacing: -0.1rem;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
}

.first-sm-card > p {
  text-align: right;
  font-family: Arimo;
  font-size: var(--fs-sm);
  font-weight: bold;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.sm-card {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-basis: 25%;
  width: max-content;
  border: 1px #b0ad9c solid;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Arimo;
  font-size: var(--fs-sm);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.first-big-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27.5rem;
  height: auto;
  border: 1px #b0ad9c solid;
}

.first-big-card > h2 {
  padding: 2.5rem 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: var(--fs-md);
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
}

.product-description .product-title {
  font-size: var(--fs-sm);
}

.first-big-card > p {
  padding: 1rem 1.5rem;
  text-align: right;
  font-family: Arimo;
  font-size: var(--fs-sm);
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.big-card {
  display: flex;
  flex-direction: column;
  flex-basis: 33.333333%;
  width: max-content;
  border: 1px #b0ad9c solid;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Arimo, sans-serif;
  font-size: var(--fs-md);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: auto;
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

/* Products */

.product-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.product-price {
  font-family: Arimo;
  font-size: var(--fs-sm);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.price-and-cart {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.add-to-cart {
  color: #321e1e;
  font-family: Bebas Neue;
  text-transform: uppercase;
  font-size: var(--fs-sm);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
/* Newsletter */

.newsletter {
  display: flex;
  flex-wrap: wrap;
  padding: 10%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #321e1e;
}

.newsletter > h2 {
  color: #f4f1e0;
  font-family: Bebas Neue;
  font-size: var(--fs-xl);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24rem;
  text-transform: uppercase;
  width: 43rem;
}

.newsletter-input-form {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.input-field-newsletter {
  text-align: left;
  color: #878787;
  font-family: Arimo;
  font-size: var(--fs-sm);
  font-style: normal;
  font-weight: 500;
  padding-left: 16px;
  height: 70px;
  color: #321e1e;
  font-weight: 400;
  background-color: #f4f1e0;
  border: 0;
  line-height: 1;
  cursor: text;
  width: 100%;
}

.newsletter-submit {
  background-color: #f4f1e0;
  border-radius: 0px;
  border-style: none;
  border-color: rgb(29, 29, 29);
  border-width: 2px;
  color: #321e1e;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  padding: 0px 40px;
  text-align: center;
  height: 70px;
  width: 100%;
}

.input-container {
  width: 50%;
}

.button-container {
  width: 50%;
}

/* Footer */

.footer-a {
  color: #321e1e;
  font-family: Bebas Neue;
  font-size: var(--fs-md);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12rem;
  text-transform: uppercase;
  text-decoration: none;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2rem 1.5rem;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.div5 {
  grid-area: 5 / 1 / 6 / 2;
}
.div6 {
  grid-area: 1 / 2 / 6 / 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 30px;
}

.footer-img {
  height: auto;
  width: 98dvw;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .primary-navigation {
    padding: min(30vh, 50rem) 1em;
    gap: 3rem;
    list-style-type: none;
  }
}

@media only screen and (max-width: 1024px) {
  .primary-navigation {
    padding: min(20vh, 50rem) 1em;
    gap: 3rem;
    list-style-type: none;
  }

  .nav-a {
    font-size: var(--fs-md);
  }

  .hero {
    row-gap: 30px;
  }

  .newsletter > h2 {
    font-size: var(--fs-md);
    text-align: center;
    letter-spacing: -0.15rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav-a {
    font-size: var(--fs-md);
  }

  .box .turntable-treasures {
    font-size: var(--fs-xl);
    letter-spacing: -0.09rem;
  }

  .hero {
    display: flex;
    padding: 60px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .explore-products > h2 {
    font-size: var(--fs-md);
    line-height: 1.1;
    text-align: center;
  }

  .explore-products > p {
    width: 50vw;
  }

  .carousel-redirect {
    width: 50vw;
    height: auto;
    aspect-ratio: 1;
  }

  .newsletter > h2 {
    font-size: var(--fs-xl);
    text-align: center;
    letter-spacing: -0.15rem;
  }
}

@media only screen and (max-width: 576px) {
  .primary-navigation {
    inset: 0 0 0 0;
    transform: translateX(-100%);
    padding: min(20vh, 10rem) 1em;
    gap: 2rem;
    transition: transform 250ms ease-out;
    z-index: 1000;
    overflow: hidden;
  }

  .primary-navigation[data-visible="true"] {
    color: var(--hover);
  }

  .menu-button:hover {
    color: var(--hover);
    transition: color 0.2s ease;
    cursor: pointer;
  }

  .navbar.sticky .menu-button:hover {
    color: var(--hover);
  }

  .nav-a {
    font-size: var(--fs-md);
  }

  .explore-products > p {
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  .primary-navigation {
    display: block;
  }

  .hero {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
  }

  .explore-products {
    height: 0px;
    width: 25px;
    rotate: -90deg;
  }

  .explore-products > h2 {
    /* font-size: 39px; */
    font-size: calc(2.7rem + 30 * (80vw - 450px) / (1240 - 600));
    white-space: nowrap;
  }

  .explore-products > p {
    display: none;
  }

  .carousel-redirect {
    width: 60vw;
  }

  .card-container {
    display: flex;
    overflow-x: scroll;
    margin: 0px 0px 60px 0px;
  }

  .card-container::-webkit-scrollbar {
    display: none;
  }

  .first-sm-card {
    width: 261px;
    height: 330px;
    margin: 0px 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .sm-card {
    min-width: 270px;
    height: 400px;
    background-color: #f4f1e0;
    margin: 0px 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .first-big-card {
    min-width: 270px;
    margin: 0px 15px;
    height: 400px;
    border: 1px #b0ad9c solid;
  }

  .big-card {
    min-width: 270px;
    height: 400px;
    background-color: #f4f1e0;
    margin: 0px 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
