/* 

Default properties for the entire app.

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&display=swap");

:root {
  --bg: #f4f1e0;
  --text: #321e1e;
  --border: #b0ad9c;
  --hover: #ff6429;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESETEO DE PROPIEDADES */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

body {
  color: #321e1e;
  background-color: #f4f1e0;
}

/* Header */

.header {
  background: #321e1e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box .turntable-treasures {
  color: #f4f1e0;
  font-family: "Bebas Neue", Helvetica;
  font-size: 8rem;
  font-weight: 400;
  left: 304px;
  letter-spacing: -3.84px;
  line-height: normal;
  text-align: right;
  top: 324px;
  text-align: center;
}

/* NavBar */

.nav-a {
  color: #321e1e;
  font-family: Bebas Neue;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  position: relative;
}

.nav-a:hover::before {
  transform: scaleX(1);
}

.nav-a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #321e1e;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.navbar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 5rem;
  color: #f4f1e0;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #321e1e 0%, rgba(50, 30, 30, 0) 100%);
  transition: background-color 0.5s ease-out;
}

.navbar.sticky {
  background: transparent;
  background-color: #f4f1e0;
  z-index: 100000000;
}

.container-fluid {
  padding-left: 70px;
  padding-right: 70px;
}

.mobile-nav-toggle {
  display: block;
  position: fixed;
  z-index: 9999;
  background: none;
  border: 0;
  width: 2.5rem;
  aspect-ratio: 1;
  top: 1.5rem;
  left: 2rem;
}

.mobile-nav-toggle-cart {
  color: #f4f1e0;
  position: fixed;
  font-family: Bebas Neue;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: color 0.5s ease;
  display: block;
  position: fixed;
  z-index: 999;
  border: 0;
  width: 2.5rem;
  aspect-ratio: 1;
  top: 1.5rem;
  right: 2rem;
  background: none;
}

.nav-a {
  color: #321e1e;
  font-family: Bebas Neue;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  position: relative;
}

.nav-a:hover::before {
  transform: scaleX(1);
}

.nav-a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #321e1e;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.primary-navigation {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1000;
  inset: 0 0 0 0;
  flex-direction: column;
  padding: min(50vh, 30rem) 12em;
  margin: 0;
  background: #f4f1e098;
  backdrop-filter: blur(1rem);
  gap: 2rem;
  transform: translateX(-100%);
  transition: transform 250ms ease-out;
  list-style-type: none;
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}

#nav-home {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: justify;
  display: flex;
  justify-content: center;
}

.menu-button {
  color: #f4f1e0;
  font-family: Bebas Neue;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: color 0.5s ease;
  background: none;
}

.menu-button:hover {
  color: #ff6429;
  transition: color 0.2s ease;
}

.navbar.sticky .menu-button:hover {
  color: #ff6429;
}

.navbar.sticky .menu-button {
  color: #321e1e;
}

@media (max-width: 1200px) {
  .primary-navigation {
    padding: min(30vh, 50rem) 1em;
    gap: 3rem;
    list-style-type: none;
  }
}

@media (max-width: 768px) {
  .nav-a {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .primary-navigation {
    inset: 0 0 0 40%;
    padding: min(20vh, 10rem) 1em;
    gap: 2rem;
  }

  .nav-a {
    font-size: 35px;
  }
}

/* Hero Section */

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  width: 75dvw;
  align-self: center;
  margin: 100px auto;
}

.explore-products {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.explore-products > h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.explore-products > p {
  font-family: Arimo, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02rem;
  width: 30vw;
  orphans: 1;
}

.carousel-container {
  grid-area: 1 / 2 / 2 / 3;
}

/* Cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  justify-items: stretch;
  overflow: hidden;
}

.first-big-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27.5rem;
  height: auto;
  border: 1px #b0ad9c solid;
}

.first-big-card > h2 {
  margin: 2.5rem 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.first-big-card > p {
  margin: 1rem 1.5rem;
  text-align: right;
  font-family: Arimo;
  font-size: 1rem;
  font-style: bold;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.big-card {
  display: flex;
  flex-direction: column;
  flex-basis: 33.333333%;
  width: max-content;
  border: 1px #b0ad9c solid;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Arimo, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: auto;
}

.first-sm-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  padding: 2rem 1.5rem;
}

.first-sm-card > h2 {
  color: #321e1e;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.75rem;
  font-style: normal;
  letter-spacing: -3%;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
}

.first-sm-card > p {
  text-align: right;
  font-family: Arimo;
  font-size: 1rem;
  font-style: bold;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.sm-card {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-basis: 25%;
  width: max-content;
  border: 1px #b0ad9c solid;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Arimo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: auto;
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

/* Products */

.product-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.product-price {
  font-family: Arimo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.price-and-cart {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.add-to-cart {
  color: #321e1e;
  font-family: Bebas Neue;
  text-transform: uppercase;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

/* Newsletter */

.newsletter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: center;
  background-color: #321e1e;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  padding-top: 10%;
  padding-bottom: 10%;
}

.newsletter > h1 {
  color: #f4f1e0;
  font-family: Bebas Neue;
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24rem;
  text-transform: uppercase;
  width: 43rem;
}

.newsletter-input-form {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.input-field-newsletter {
  text-align: left;
  color: #878787;
  font-family: Arimo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 0px 0px 0px 16px;
  height: 70px;
  color: #321e1e;
  font-size: 20px;
  font-weight: 400;
  background-color: #f4f1e0;
  border: 0;
  line-height: 1;
  cursor: text;
}

.newsletter-submit {
  background-color: #f4f1e0;
  border-radius: 0px;
  border-style: none;
  border-color: rgb(29, 29, 29);
  border-width: 2px;
  color: #321e1e;
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 72px;
  padding-right: 72px;
  text-align: center;
  height: 70px;
}

.input-container {
  width: 50%;
}

.button-container {
  width: 50%;
}

/* More Products */

.more-products {
  background-color: #32321e;
  height: 382px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-products > a > h1 {
  color: #f4f1e0;
  font-family: Bebas Neue;
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24rem;
  text-transform: uppercase;
}

.more-products > a {
  color: #f4f1e0;
  position: relative;
  text-decoration: none;
}

.more-products > a:hover::before {
  transform: scaleX(1);
}

.more-products > a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  background-color: #f4f1e0;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}
